<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PC Parlor</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon"></span> Part Selector <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><h5>Essentials</h5></li>
            <li><a href="/cpu">CPU</a></li>
            <li><a href="/gpu">GPU</a></li>
            <li><a href="/ssd">SSD</a></li>
            <li><a href="/hdd">HDD</a></li>
            <li><a href="/ram">RAM</a></li>
            <li><a href="/usb">USB</a></li>
            <li class="divider"></li>
            <li><h5>Other</h5></li>
            <li><a href="/os">Operating System</a></li>
            <li><a href="/monitor">Monitor</a></li>
            <li><a href="/peripherals">Peripherals</a></li>
            <li><a href="/motherboard">Motherboard</a></li>
            <li><a href="/cpucooler">CPU cooler</a></li>
            <li><a href="/case">Case</a></li>
            <li><a href="/powersupply">Power Supply</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
