<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon"></span> Part Selector <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><h5>Essentials</h5></li>
            <li><a href="/db">CPU</a></li>
            <li><a href="">GPU</a></li>
            <li><a href="">CPU Cooler</a></li>
            <li><a href="">Motherboard</a></li>
            <li><a href="">Memory</a></li>
            <li><a href="">Storage</a></li>
            <li><a href="">Case</a></li>
            <li><a href="">Power Supply</a></li>
            <li class="divider"></li>
            <li><h5>Other</h5></li>
            <li><a href="">Operating System</a></li>
            <li><a href="">Monitor</a></li>
            <li><a href="">Peripherals</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
