.navbar {
    margin-bottom: 0;
}

.container {
    margin: auto;
}

.dropdown-menu {
    filter: brightness(0.67);
  }
  
  .dropdown h5 {
    padding: 3px 20px;
  }

.jumbotron#logo {
    background-image: url("../assets/img/tamuOAL.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

h1 {
    padding-bottom: 75px;
    font-size: 32pt !important;
}

section.our-team h1 {
    padding-top:  50px;
}

.jumbotron p {
    width: 50%;
    transform: translateX(50%);
}

.card {
    padding: 50px;
}

section {
    padding-bottom: 100px;
}

section.our-team {
    background-color: lightgray;
}

section.our-team div.img-wrap {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
}

section.our-team div.img-wrap#gage {
    background-image: url("../assets/img/GageBrobergProfile.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
section.our-team div.img-wrap#jacob {
    background-image: url("../assets/img/JacobPolandProfile.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
section.our-team div.img-wrap#john {
    background-image: url("../assets/img/JohnNolenProfile.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 150% 130%;
}
section.our-team div.img-wrap#alex {
    background-image: url("../assets/img/AlexNelsonProfile.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 150% 150%;
}

section.contact-us {
    padding-top: 50px;
}

section.contact-us div.container {
    width: 50%;
}

.team-member {
    padding: 10px 0 10px 0;
    font-size: 16px;
    transform: translateX(16.66666666%);
    width: 75%;
}

#name {
    font-weight: 700;
}

#role {
    font-weight: 300;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.icon-prev, .icon-next {
    color: black;
}

.button-holder {
    text-align: center;
}
  