<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
        <!-- <link rel="stylesheet" href=""> -->
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>

        <div class="container">
            <h2><%= searchTerm %></h2>
            <br>

            <div class="row w-100 text-center">
                <div class="col-sm-4">
                  One of two columns for image
                </div>
                <div class="col-sm-8">
                  One of two columns for description
                </div>
              </div>
        </div>
    </body>
</html>