<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
        <link rel="stylesheet" href="/stylesheets/howto.css">
    </head>

    <body>
        <%- include ("../partials/nav.ejs") %>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron text-center" id="logo">
            <div class="container">
                <h1>How-To's</h1>
                <p>
                    A collection of informational how-to videos to guide your PC building experience.
                </p>
            </div>
        </div>

        <!-- Latest compiled and minified Bootstrap CSS -->
        <div class="container" id="accordion">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            GPUs
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of GPUs</h4>
                                <div id="gpu1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="gpu2">Player 2</div>
                                <h4>Shows you how to install a GPU in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            CPUs
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of CPUs</h4>
                                <div id="cpu1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="cpu2">Player 2</div>
                                <h4>Shows you how to install a CPU in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            SSDs
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of SSDs</h4>
                                <div id="ssd1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="ssd2">Player 2</div>
                                <h4>Shows you how to install an SSD in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            HDDs
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of HDDs</h4>
                                <div id="hdd1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="hdd2">Player 2</div>
                                <h4>Shows you how to install an HDD in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            RAM
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of RAM</h4>
                                <div id="ram1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="ram2">Player 2</div>
                                <h4>Shows you how to install RAM in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            USBs
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of USBs</h4>
                                <div id="usb1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="usb2">Player 2</div>
                                <h4>Describes different kinds of USB ports, cables, and connectors.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            Motherboards
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of motherboards</h4>
                                <div id="mot1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="mot2">Player 2</div>
                                <h4>Shows you how to install a motherboard in your system</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                            Monitors
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of monitors</h4>
                                <div id="mon1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="mon2">Player 2</div>
                                <h4>Describes how to connect external monitors to your new PC</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                            CPU Coolers
                            </a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="oddVideo">
                                <h4>Explains the basics of CPU cooling</h4>
                                <div id="cool1">Player 1</div>
                            </div>
                            <div class="evenVideo">
                                <div id="cool2">Player 2</div>
                                <h4>Describes the difference between water cooling your cpu and air cooling your cpu</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var gpu1;
            var gpu2;

            var cpu1;
            var cpu2;

            var ssd1;
            var ssd2;

            var hdd1;
            var hdd2;

            var ram1;
            var ram2;

            var usb1;
            var usb2;

            var mot1;
            var mot2;

            var mon1;
            var mon2;

            var cool1;
            var cool2;
            function onYouTubeIframeAPIReady() {
                // GPU
                gpu1 = new YT.Player('gpu1', {
                height: '390',
                width: '640',
                videoId: 'g_L8MqzIkZI',
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
                });
                gpu2 = new YT.Player('gpu2', {
                    height: '390',
                    width: '640',
                    videoId: 'nyDxrTHDjXQ',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // CPU
                cpu1 = new YT.Player('cpu1', {
                    height: '390',
                    width: '640',
                    videoId: '_zojIW-2DD8',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
                cpu2 = new YT.Player('cpu2', {
                    height: '390',
                    width: '640',
                    videoId: '7yKycb4e7Z0',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // SSD
                ssd1 = new YT.Player('ssd1', {
                    height: '390',
                    width: '640',
                    videoId: '5Mh3o886qpg',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                ssd2 = new YT.Player('ssd2', {
                    height: '390',
                    width: '640',
                    videoId: '0eGOujvffcU',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // HDD
                hdd1 = new YT.Player('hdd1', {
                    height: '390',
                    width: '640',
                    videoId: 'YQEjGKYXjw8',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                hdd2 = new YT.Player('hdd2', {
                    height: '390',
                    width: '640',
                    videoId: 'ni7ksoQXMjw',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // RAM
                ram1 = new YT.Player('ram1', {
                    height: '390',
                    width: '640',
                    videoId: 'GtEbrY4nDIQ',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                ram2 = new YT.Player('ram2', {
                    height: '390',
                    width: '640',
                    videoId: 'RdukEtSlia0',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // USB
                usb1 = new YT.Player('usb1', {
                    height: '390',
                    width: '640',
                    videoId: 'cgKRQsGSk-c',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                usb2 = new YT.Player('usb2', {
                    height: '390',
                    width: '640',
                    videoId: 'pIZREjck9jg',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // Motherboards
                mot1 = new YT.Player('mot1', {
                    height: '390',
                    width: '640',
                    videoId: 'Cs8I4-jmUJw',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                mot2 = new YT.Player('mot2', {
                    height: '390',
                    width: '640',
                    videoId: 'ExOPdpnjpQk',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // Monitors
                mon1 = new YT.Player('mon1', {
                    height: '390',
                    width: '640',
                    videoId: 'uyLDA9QT8EY',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                mon2 = new YT.Player('mon2', {
                    height: '390',
                    width: '640',
                    videoId: 'Ad5zmFk80lU',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });

                // Coolers
                cool1 = new YT.Player('cool1', {
                    height: '390',
                    width: '640',
                    videoId: 'UyUZAJYfD7g',
                    playerVars: {
                        'playsinline': 1
                    },
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                    });
                cool2 = new YT.Player('cool2', {
                    height: '390',
                    width: '640',
                    videoId: 'hr0qLLv3dKc',
                    playerVars: {
                    'playsinline': 1
                    },
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });
            }

            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                event.target.playVideo();
            }

            // 5. The API calls this function when the player's state changes.
            //    The function indicates that when playing a video (state=1),
            //    the player should play for six seconds and then stop.
            var done = false;
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
                }
            }
            function stopVideo() {
                cpu1.stopVideo();
                cpu2.stopVideo();
                gpu1.stopVideo();
                gpu2.stopVideo();
                ssd1.stopVideo();
                ssd2.stopVideo();
                hdd1.stopVideo();
                hdd2.stopVideo();
                ram1.stopVideo();
                ram2.stopVideo();
                usb1.stopVideo();
                usb2.stopVideo();
                mot1.stopVideo();
                mot2.stopVideo();
                mon1.stopVideo();
                mon2.stopVideo();
                cool1.stopVideo();
                cool2.stopVideo();
            }
        </script>
    </body>
</html>