<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body id="home">
  <%- include ("../partials/nav.ejs") %>

  <script>
    onClick = function() {
      let search = document.getElementById("search").value;
      console.log(search);
    };
  </script>

  <div class="container">
    <div class="input-group">
      <input id="search" type="search" class="form-control" placeholder="Search for a part">
      <div class="input-group-btn">
        <button class="btn btn-primary" id="search-button" type="submit" onclick="onClick()">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>

  <script>
    // Get the input field
    let input = document.getElementById("search");

    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keyup", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("search-button").click();
      }
    });
  </script>
  
  <div class="container">
    <header class="masthead">
      <div class="container">
          <div class="masthead-heading text-uppercase">Welcome to PC Parlor!</div>
          <div class="masthead-subheading">Search for a part above, or click on the Part Selector drop down to see info about a specific part</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
      </div>
    </header>
  </div>

</body>
</html>
