<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Search for a part">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <header class="masthead">
      <div class="container">
          <div class="masthead-heading text-uppercase">Welcome to PC Parlor!</div>
          <div class="masthead-subheading">Search for a part above, or click on the Part Selector drop down to see info about a specific part</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
      </div>
    </header>
  </div>

</body>
</html>
