<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body id="home">
  <%- include ("../partials/nav.ejs") %>

  <script> 
    onClick = function() {
      let search = document.getElementById("search").value;
      let alert = document.getElementById("warning");
      if (search != '') {
        location.href = "/search?searchquery=" + search;
        alert.classList.remove("active");
      } else if (!alert.classList.contains("active")) {
        alert.classList.add("active");
      }
    };
  </script>

  <div class="container" id="search-bar">
    <div class="input-group">
      <input id="search" type="search" class="form-control" placeholder="Search for a part">
      <div class="input-group-btn">
        <button class="btn btn-primary" id="search-button" type="submit" onclick="onClick();">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
    <div class="alert alert-warning" id="warning" role="alert">
      Give us something to search for!
    </div>
  </div>

  <script>
    let input = document.getElementById("search");
    input.addEventListener("keyup", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("search-button").click();
      }
    });
  </script>
  
  <div class="container">
    <header class="masthead">
      <div class="container">
          <div class="masthead-heading text-uppercase">Welcome to PC Parlor!</div>
          <div class="masthead-subheading">Search for a part above, or click on the Part Selector drop down to see info about a specific part</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="/about">Tell Me More</a>
      </div>
    </header>
  </div>

</body>
</html>
